/********************* Root Onboarding Container *********************/
.mw-gettingstarted-container {
	width: 60em;
	margin: 1em 0;
}

/********************* Link back to page user was on previously *********************/
#mw-returnto a {
	display: block;
	margin-top: 20px;
	float: left;
}


/********************* Header Banner *********************/
.mw-gettingstarted-header {
	font-weight: normal;
	font-size: 132%;
}

/********************* Task Choice *********************/
.mw-gettingstarted-tasks {
	margin: 0 auto;
	margin-top: 30px;
	width: 100%;
}

.mw-gettingstarted-tasks a {
	display: block;
	width: 25em;
	min-height: 5em;
	padding: 1em;
	margin: 1.5em 0;
	background-color: #eee;
	background: #f4f4f4; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4f4f4 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4f4f4 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4f4f4 0%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4f4f4 0%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f4f4f4 0%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

	border-radius: 3px;
	border: 1px solid #dedede;
}

.mw-gettingstarted-tasks a:hover {
	background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(top,  #e5e5e5 0%, #d6d6d6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e5e5e5 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e5e5e5 0%,#d6d6d6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e5e5e5 0%,#d6d6d6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e5e5e5 0%,#d6d6d6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
}

/* TODO (mattflaschen, 2013-04-16): Is there a less verbose way to do this? */
.mw-gettingstarted-tasks a:link,
.mw-gettingstarted-tasks a:visited,
.mw-gettingstarted-tasks a:hover,
.mw-gettingstarted-tasks a:active {
	color: inherit;
}

.mw-gettingstarted-task-icon {
	display: inline-block;
	float: left;
	width: 20%;
}

.mw-gettingstarted-task-text {
	display: inline-block;
	float: right;
	width: 75%;
}

/********************* CentralAuth *********************/

.centralauth-login-box {
	visibility: hidden;
	color: gray;
	font-size: 0.75em;
	margin-top: 8em;
}
.centralauth-login-box img {
	border: 0;
	opacity: 0.5;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}
.centralauth-login-box img:hover {
	opacity: 1;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
}

/********************* Notifications *********************/
/*
   Core currently doesn't offer a stable selector.
   We add this class ourselves.
*/
.mw-gettingstarted-notice {
	font-size: 0.8em;
	color: gray;
	float: left;
	clear: both;
	margin-left: 6px;
}
