/********************* Header Banner *********************/
#onboarding-header {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0.75em 0;
    max-width: 70em;
}

#onboarding-heading {
    display: block;
    margin-bottom: 0.2em;
    font-size: 1.5em;
    font-weight: bold;
    border: 0;
    color: black;
}

#onboarding-header-details {
    display: inline-block;
    max-width: 70%;
    color: #777;
    margin: 0;
}

#onboarding-header .mw-ui-button {
    width: 14em;
    float: right;
    margin-top: 0.5em;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#onboarding-header .mw-ui-button {
    display: inline-block;
    padding: 0.4em 0.8em 0.5em 0.8em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

#onboarding-header .mw-ui-button.blue {
    background-color: #3366bb;
    background-image: -moz-linear-gradient(top, #3670c8, #3366bb);
    background-image: -ms-linear-gradient(top, #3670c8, #3366bb);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3670c8), color-stop(100%, #3366bb));
    background-image: -webkit-linear-gradient(top, #3670c8, #3366bb);
    background-image: linear-gradient(#3670c8, #3366bb);
    border: 1px #33589f solid;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#3670c8', endColorstr='#3366bb', GradientType=0);
}

#onboarding-header .mw-ui-button.blue:hover {
    background-color: #3f77d7;
    background-image: -moz-linear-gradient(top, #4c84da, #3f77d7);
    background-image: -ms-linear-gradient(top, #4c84da, #3f77d7);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c84da), color-stop(100%, #3f77d7));
    background-image: -webkit-linear-gradient(top, #4c84da, #3f77d7);
    background-image: linear-gradient(#4c84da, #3f77d7);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#4c84da', endColorstr='#3f77d7', GradientType=0);
}

#onboarding-header .mw-ui-button.blue:active {
    background-color: #2a549c;
    background-image: -moz-linear-gradient(top, #2d5ea9, #2a549c);
    background-image: -ms-linear-gradient(top, #2d5ea9, #2a549c);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d5ea9), color-stop(100%, #2a549c));
    background-image: -webkit-linear-gradient(top, #2d5ea9, #2a549c);
    background-image: linear-gradient(#2d5ea9, #2a549c);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#2d5ea9', endColorstr='#2a549c', GradientType=0);
}


/********************* To-do matrix *********************/

#onboarding-msg {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 13px;
    width: 70em;
    padding: 0.25em;
}

#onboarding-tasks {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 13px;
    width: 70em;
    padding: 0.75em;
    height: 7em;
}

#onboarding-tasks ul {
    width: 70%;
    float: left;
    overflow: hidden;
    margin-left: 0;
    margin-bottom: 20px;
}

#onboarding-tasks ul li {
    line-height:1.5em;
    width: 50%;
    float: left;
    display: list-item;
    list-style-position: inside;
}

/* The welcomecreation message gives the "Suggestions" div this style. */
#suggestion-box {
    float: right;
    top: 0;
    margin-right: 0;
    width: 20%;
    padding: 0.75em;
    list-style-type: none;
    list-style-image: none;
    background-color: #fcfde6;
    border: 1px solid #e6eca2;
}

#suggestion-box li:first-child {
    font-weight: bold;
    margin-bottom: 0.25em;
}

#onboarding-more {
    clear: both;
}