@import "mediawiki.mixins";

.mw-gettingstarted-personal-tool-recommendations {
	position: relative;
	padding-left: 15px;

	&:before {
		content: "";
		display: block;
		width: 13px;
		height: 13px;
		position: absolute;
		.background-image-svg('images/lightbulb.svg', 'images/lightbulb.png');
		background-size: 100%;
		top: -1px;
		left: 0;
	}
}

#pt-recommendations {
	/* Hack: hide in ie7 and below */
	*display: none;
}

/* Hide when there is no js support */
.client-nojs #pt-recommendations {
	display: none;
}
