@import 'mediawiki.mixins';

.mw-gettingstarted-personal-tool-recommendations {
	position: relative;
	padding-left: 15px;

	&:before {
		content: '';
		display: block;
		width: 13px;
		height: 13px;
		position: absolute;
		.background-image-svg( 'images/lightbulb.svg', 'images/lightbulb.png' );
		top: 0;
		left: 0;
	}
}

/* Hide when there is no js support */
.client-nojs #pt-recommendations {
	display: none;
}
