@import "mediawiki.ui/variables";
@import "mediawiki.mixins";
@import "mediawiki.ui/variables";

@flyoutWidth: 390px;

.mw-gettingstarted-lightbulb-flyout {
	position: absolute;
	width: @flyoutWidth;

	font-size: 0.875em;

	box-sizing: border-box;


	.mw-gettingstarted-lightbulb-flyout-heading {
		margin-bottom: 0;
		font-size: 1.5em;
	}

}

.mw-gettingstarted-lightbulb-flyout-text {
	margin-bottom: 1.5em;
}

.mw-gettingstarted-lightbulb-flyout-head {
	padding: 1em 1em 0 1em;
}

.mw-gettingstarted-lightbulb-flyout-pagination {
	margin-top: 35px;
	padding-bottom: 1em;
	text-align: center;
}

// Also override corresponding .mw-ui-button states, since they don't work for the icon
.mw-gettingstarted-lightbulb-flyout-pagination-button-icon,
.mw-gettingstarted-lightbulb-flyout-pagination-button-icon.mw-ui-button:active,
.mw-gettingstarted-lightbulb-flyout-pagination-button-icon.mw-ui-button[disabled]:hover {
	background-color: #fff;
	width: 60px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 14px 14px;
	padding: 12px 22px;
}

.mw-gettingstarted-lightbulb-flyout-back,
.mw-gettingstarted-lightbulb-flyout-back.mw-ui-button:active {
	margin-right: 17px;
	.background-image-svg('images/prev.svg', 'images/prev.png');
}

.mw-gettingstarted-lightbulb-flyout-back[disabled],
.mw-gettingstarted-lightbulb-flyout-back[disabled]:hover {
	.background-image-svg('images/prev-disabled.svg', 'images/prev-disabled.png');
}

.mw-gettingstarted-lightbulb-flyout-next,
.mw-gettingstarted-lightbulb-flyout-next.mw-ui-button:active {
	margin-left: 17px;
	.background-image-svg('images/next.svg', 'images/next.png');
}

.mw-gettingstarted-lightbulb-flyout-next[disabled],
.mw-gettingstarted-lightbulb-flyout-next[disabled]:hover {
	.background-image-svg('images/next-disabled.svg', 'images/next-disabled.png');
}

.mw-gettingstarted-lightbulb-flyout-pagination-disc {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: pointer;

	font-size: 22px;

	vertical-align: middle;

	color: @colorGray13;
}

.mw-gettingstarted-lightbulb-flyout-pagination-disc.mw-gettingstarted-lightbulb-flyout-selected-page {
	color: @colorGray7;
	cursor: default;
}

.mw-gettingstarted-lightbulb-suggestions-wrapper {
	overflow: hidden;
}

.mw-gettingstarted-lightbulb-suggestions-container {
	position: relative;
	.transition(all .3s ease-in-out);
}

.mw-gettingstarted-lightbulb-suggestions {
	width: 100%;
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0 1em;
	box-sizing: border-box;

	.mw-gettingstarted-lightbulb-suggestion {
		background-color: @colorGray15;
	}

	li {
		margin-bottom: 0.6em;
	}

	li:last-child {
		margin-bottom: 0;
	}
}

.mw-gettingstarted-lightbulb-flyout-error-state {
	text-align: center;
}
.mw-gettingstarted-lightbulb-flyout-error-state-body {
	padding: 3em 2em 2em 2em;
}

.mw-gettingstarted-lightbulb-flyout-error-state-image {
	width: 90px;
	height: 142px;
	margin: 0 auto;
	background-position: center top;
	background-size: 90px 142px;
	margin-bottom: 1em;
}

.mw-gettingstarted-lightbulb-flyout-error-state-primary-text {
	font-weight: bold;
	font-size: 1.25em;
}

.mw-gettingstarted-lightbulb-flyout-error-state-button-icon {
	height: 20px;
	width: 20px;
	float: left;
	display: block;
	margin-right: 0.5em
}

.mw-gettingstarted-lightbulb-flyout-error-state-button-text {
	line-height: 20px;
}

.mw-gettingstarted-lightbulb-flyout-error-state-no-recommendations {
	.mw-gettingstarted-lightbulb-flyout-error-state-image {
		.background-image-svg('images/lightbulb-sad.svg', 'images/lightbulb-sad.png');
	}
	.mw-gettingstarted-lightbulb-flyout-error-state-button-icon {
		.background-image-svg('images/refresh.svg', 'images/refresh.png');
	}
}

.mw-gettingstarted-lightbulb-flyout-error-state-no-article-edits {
	.mw-gettingstarted-lightbulb-flyout-error-state-image {
		.background-image-svg('images/lightbulb-no.svg', 'images/lightbulb-no.png');
	}
	.mw-gettingstarted-lightbulb-flyout-error-state-button-icon {
		.background-image-svg('images/random.svg', 'images/random.png');
	}
}

// TODO (phuedx, 2014/07/30): Classes like this would simplify the
// GuidedTour library. Create the entire set of classes upstream.

@halfGuiderArrowWidth: 21px;

.guider_arrow_up.guider_arrow_center {
	left: 50%;
	margin-left: -@halfGuiderArrowWidth;
}
